
.tic-tac-toe-grid {
    display: grid;
    aspect-ratio: 1 / 1;
    user-select: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
}

.tic-tac-toe-grid > * {
    background-color: gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
}